apiVersion: apps/v1
kind: Deployment
metadata:
  name: xp-cnj-deployment
  labels:
    app.kubernetes.io/name: xp-cnj-deployment
    app.kubernetes.io/version: 0.0.3
    app.kubernetes.io/environment: nonprod
  annotations:
    app-version: 0.0.3
spec:
  replicas: 3
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 0
      maxSurge: 1
  selector:
    matchLabels:
      app: xp-cnjoke
  template:
    metadata:
      labels:
        app.kubernetes.io/name: xp-cnjoke
        app.kubernetes.io/version: 0.0.3
        app.kubernetes.io/environment: nonprod
    spec:
      imagePullSecrets:
        - name: ghcr-secret
      containers:
        - name: xp-cnjoke
          image: ghcr.io/xpdable/xp_cnjoke:0.0.3
          imagePullPolicy: Always
          ports:
            - containerPort: 8000
          readinessProbe:
            httpGet:
              path: /healthz
              port: 8000
            initialDelaySeconds: 3
            periodSeconds: 5
          livenessProbe:
            httpGet:
              path: /healthz
              port: 8000
            initialDelaySeconds: 10
            periodSeconds: 10
