name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:

    runs-on: ubuntu-22.04-arm

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Login to GHCR
      run: echo "${{ secrets.GHCR_TOKEN }}" | docker login ghcr.io -u ${{ github.repository_owner }} --password-stdin

    - name: Build and Push the APP Docker image
      run: |
        docker build . --file Dockerfile --tag ghcr.io/${{ github.repository_owner }}/xp_cnjoke:latest
        docker push ghcr.io/${{ github.repository_owner }}/xp_cnjoke:latest

#        echo "VERSION=$(date +'%d%m%Y')-$(git rev-parse --short HEAD)" >> $GITHUB_ENV
#        docker build . --file Dockerfile --tag ghcr.io/${{ github.repository_owner }}/xp_cnjoke:${{ env.VERSION }}
#        docker push ghcr.io/${{ github.repository_owner }}/xp_cnjoke:${{ env.VERSION }}
# latest for testing